@model GummiBearKingdom.Models.Product

@{
    ViewData["Title"] = "Add New Product";
}

<div class="banner">
    <h1 class="title">ADD NEW PRODUCT</h1>
</div>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CountryId)
    <div class="card add-product-card">
        <div class="card-block">
            <div class="form-group row">
                <label class="col-md-3">Product @Html.DisplayNameFor(model => model.Name):</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Name, new {@class="form-control"})
                </div>
            </div>
        
            <div class="form-group row">
                <label class="col-md-3">Product @Html.DisplayNameFor(model => model.Description):</label>
                <div class="col-md-9">
                    @Html.TextAreaFor(model => model.Description, new {rows="10", @class = "form-control"})
                </div>
            </div>
        
            <div class="form-group row">
                <label class="col-md-3">Product @Html.DisplayNameFor(model => model.Cost): $</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Cost, new {@class="form-control"})
                </div>
            </div>
            <input type="submit" value="Add" class="btn btn-default" />
        </div>
    </div>

}