@model GummiBearKingdom.Models.Country

@{
    ViewData["Title"] = "Country Details";
}
<div class="banner">
    <h1 class="title">Products Made in @Html.DisplayFor(model => model.Name)</h1>
</div>

<p class="crud">@Html.ActionLink("Edit", "Edit", new{ countryId = Model.CountryId }) | @Html.ActionLink("Delete", "Delete", new{ countryId = Model.CountryId }) | @Html.ActionLink("Add", "AddProduct", "Products", new { countryId = Model.CountryId })</p>
<p class="back">@Html.ActionLink("Back to Countries List", "Index")</p>

<div class="list-area">
    <div class="card-columns">
        @foreach(var product in Model.Products)
        {
            <div class="card list-card">
                <div class="card-body list">
                    <h5 class="card-title">@Html.ActionLink((string)product.Name, "Details", "Products", new { productId = product.ProductId }, new { @class = "list-names" })</h5>
                </div>
            </div>
        }
    </div>
</div>  

