@model GummiBearKingdom.Models.Country

@{
    ViewData["Title"] = "Country Details";
}
<div id="country-detail-banner">
    <h1 id="country-detail-title">Products Made in @Html.DisplayFor(model => model.Name)</h1>
</div>

<p class="crud">@Html.ActionLink("Edit", "Edit", new{ countryId = Model.CountryId }) | @Html.ActionLink("Delete", "Delete", new{ countryId = Model.CountryId }) | @Html.ActionLink("Add", "AddProduct", "Products", new { countryId = Model.CountryId })</p>
<p class="back">@Html.ActionLink("Back to Countries List", "Index")</p>

<div class="card country-detail-card">
    <div class="card-block">
        @foreach(var product in Model.Products)
        {
            <p class="card-text country-products">@Html.ActionLink((string)product.Name, "Details", "Products", new{ productId = product.ProductId }, new { @id="country-detail-list"})</p>
        }
    </div>
</div>  

