@model GummiBearKingdom.Models.Country

@{
    ViewData["Title"] = "Country Details";
}

<h1>Products Made in @Html.DisplayFor(model => model.Name)</h1>
<p>@Html.ActionLink("Edit Country Name", "Edit", new{ countryId = Model.CountryId })</p>
<p>@Html.ActionLink("Delete Country", "Delete", new{ countryId = Model.CountryId })</p>
<p>@Html.ActionLink("Add New Product to " + (string)Model.Name, "AddProduct", "Products", new { countryId = Model.CountryId })</p>
<p class="back">@Html.ActionLink("Back to Countries List", "Index")</p>

<div class="card">
    <div class="card-block">
        @foreach(var product in Model.Products)
        {
            <p class="card-text">@Html.ActionLink((string)product.Name, "Details", "Products", new{ productId = product.ProductId })</p>
        }
    </div>
</div>  